/* Base =================  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: var(--smooth);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bodyColor);
    overflow-x: hidden;
}
/* section:not(.contact){
    min-height:100vh;
} */
h1,h2,h3,h4{
    color:var(--titleColor) ;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
.scrollExtent{
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background-color:var(--mainColor);
    z-index: 10000;
    backdrop-filter: none;
}
/* Variables ================  */
:root{
    --smooth:all .4s ease;
    --shadow:0 5px 20px #fd9b08;
    --fixed:1000;
    --layer-2:500;
    --layer-3:400;
    --layer-4:300;
}
/* ========= Theme ==========  */
.lightTheme{
    --backgroundColor: #f1f1f1;
    --bodyColor: #f1f1f1;
    --bodyColorAlt:#e4e4e4;
    --titleColor:#000;
    --textColor:rgba(15, 15, 15, 1.0);
    --faintTextColor:rgba(41, 41, 41, 0.4);
}
.darkTheme{
    --backgroundColor:#0c0b0e;
    --bodyColor:hsl(228, 15%, 20%);
    --bodyColorAlt:hsl(228, 15%, 15%);
    --titleColor:#fff;
    --textColor:rgba(214, 214, 214, 0.85);
    --faintTextColor:rgba(214, 214, 214, 0.4);
}
/* ============= Accent Color ============  */
.orange{
    --mainColor:#fd9b08;
    --hoverColor:#d48104;
    --cardHover: rgba(253, 155, 8, 0.6);
    --hue:36;
}
.lightblue{
    --mainColor:#3399ff;
    --hoverColor:#1186fc;
    --cardHover: rgba(51, 153, 255, 0.6);
    --hue:210;
}
.blue{
    --mainColor:#6e57e0;
    --hoverColor:#6e57e0;
    --cardHover: rgba(74, 49, 202, 0.6);
    --hue:250;
}
.green{
    --mainColor:#00cc8f;
    --hoverColor:#01ad7a;
    --cardHover: rgba(1, 173, 122, 0.8);
    --hue:162;
}
.aquagreen{
    --mainColor:#0ef;
    --hoverColor:#00cddb;
    --cardHover: rgba(0, 205, 219, 0.8);
    --hue:184;
}
.gold{
    --mainColor:#ffd700;
    --hoverColor:#daa520;
    --cardHover: rgba(218, 165, 32, 0.6);
    --hue:51;
}
.burlywood{
    --mainColor:#deb887;
    --hoverColor:#ca9856;
    --cardHover: rgba(202, 152, 86, 0.6);
    --hue:34;
}
.fuchsia{
    --mainColor:#df0257;
    --hoverColor:rgb(223, 2, 87);
    --cardHover: rgba(223, 2, 87, 0.8);
    --hue:337;
}

/* ============ Font Sizes ============ */
:root{
    --titleFontsize:2rem;
    --subtitleFontSize:1.75rem;
    --sectionSubtitle:1.5rem;
    --normalText-lg:1.25rem;
    --normalText:1.125rem;
    --smallText:.75rem;
}
@media (min-width:992px){
    :root{
        --titleFontsize:3rem;
        --subtitleFontSize:2.5rem;
        --sectionSubtitle:1.75rem;
        --normalText-lg:1.375rem;
        --normalText:1.125rem;
        --smallText:.75rem;

    }
}

/* Reusable Classes ==========================  */
.container{
    margin: 0 auto;
    max-width: 1280px;
}
.section__title{
    font-size: var(--subtitleFontSize);
    color: var(--titleColor);
    margin-bottom: 1rem;
}
.section__subtitle{
    font-size: var(--sectionSubtitle);
    color: var(--titleColor);
    margin-bottom: .5rem;
}
.section__subtitle span{
    font-size: var(--sectionSubtitle);
    color: var(--mainColor);
}
.section__desc{
    font-size: var(--normalText);
    color: var(--textColor);
    line-height: 1.5;
    max-width: 25rem;
    margin-bottom: 1rem;
}
.section__padding{
    padding: 3rem 2rem 2rem;
}
@media (min-width:768px){
    .section__padding{
        padding-bottom: 4rem;
    }
}
.bonus__padding{
    padding-block: 3rem;
}
@media (min-width:880px){    
    .bonus__padding{
        padding-block:10rem;
    }
}
.section__wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.btnBox{
    margin: 2rem auto;
    width: fit-content;
    height: 65px;
}
.btn{
    text-decoration: none;
    font-size:var(--normalText-lg);
    font-weight: bold;
    color:white;
    padding: 1rem 1.5rem;
    background-color:var(--mainColor);
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    transition: var(--smooth);
    cursor: pointer;
}
.btn:hover{
    box-shadow:1px 5px 20px var(--mainColor);
}
/* .btn__scale{
    animation:btn__scale linear infinite;
}
.btn__scale:hover{
    animation-duration: .5s;
}
@keyframes btn__scale{
    50%{
        scale: 0.95;
    }
} */


/*=================== Header ==================== */
header{
    padding:15px 2rem 0;
    position: relative;
    /* border: 1px solid white; */
}
header:after{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    backdrop-filter:blur(24px);
    -webkit-backdrop-filter:blur(12px);
    width: 200vw;
    height: 3.5rem;
    z-index:var(--layer-4);
}
.logo{
    color: var(--titleColor);
    font-size:var(--subtitleFontSize);
    position: fixed;
    top: 10px;
    left: 4%;
    z-index:var(--fixed);
    cursor: pointer;
    /* border: 1px solid white; */
}
.navbar{
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:transparent;
    backdrop-filter: blur(24px);
    width: 50vw;
    height: 100vh;
    transform: translateX(-100vw);
    z-index:var(--layer-2);
    transition: var(--smooth);
}
.navbar:before{
    content:'';
    position: absolute;
    top: 55px;
    width: 100%;
    height: 0.1px;
    background-color: rgba(255, 253, 253, 0.4);
}
header.active>.navbar{
    transform: translateX(0);
}
.navbar ul{
    margin-top: 5.5rem !important;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.navbar ul li{
    list-style: none;
    margin-bottom:2.5rem;
    text-align: center;
}
.navbar ul li:hover{
    transform: translateX(10px);
    transition: var(--smooth);
    cursor: pointer;
}
.navbar .navlinks{
    color:var(--titleColor);
    font-size: var(--normalText-lg);
    padding: 10px 1.25rem;
    position: relative;
}
header.active .navlinks{
    color: white;
}
header.active .navlinks:hover{
    color:var(--mainColor);
}
header.active .navlinks.active-link{
    color:var(--mainColor);
}
.navlinks::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width:0;
    height: 3px;
    background-color:var(--mainColor);
    transform: translateX(-50%);
    transition: var(--smooth);
}
.navlinks.active-link::before{
    width: 70%;
}
.hamburger{
    /* display: block; */
    width: 50px;
    height: 50px;
    position:fixed;
    top:2px;
    right:4%;
    z-index:var(--fixed);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    /* background-color:var(--textColor); */
    transition: var(--smooth);
}
header.active .hamburger{
    border: 1px solid white;
}
.bar{
    width: 30px;
    height: 3px;
    background-color:var(--titleColor);
    border-radius: 4px;
    position: absolute;
    z-index: var(--fixed);
    transition: var(--smooth);
}
header.active .bar{
    background-color:white;
}
.bar1{
    transform: translateY(10px);
}
.bar3{
    transform: translateY(-10px);
}
header.active .bar2{
    transform: translateX(-100%);
    opacity: 0;
}
header.active .bar1{
    transform: translateY(0) rotate(45deg);
}
header.active .bar3{
    transform: translateY(0) rotate(-45deg);
}
.overlay{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:var(--layer-3);
    display: none;
    transition: var(--smooth);
}
header.active+.overlay{
    display: block;
}

/* Responsive Navbar (Desktop) ===========  */
@media only screen and (max-width:450px){
    .navbar{
        width: 50vw;
    }
}
@media only screen and (min-width:880px){
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        z-index: var(--fixed);
    }
    header:after{
        height: 4.1rem;
    }
    .logo{
        margin-top: -1rem;
    }
    .navbar{
        position:fixed;
        top: 3.55%;
        right:0;
        transform: translate(0, -50%);
        width: auto;
        height:fit-content;
        background-color: transparent;
        backdrop-filter:none;
    }
    .navbar:before, .hamburger, .bar{
        display: none;
    }
    .navbar ul{
        margin-top:0 !important;
        margin-right:1rem;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .navbar ul li{
        background-color: transparent;
        display: inline-block;
        margin-bottom: 0;
    }
    .navbar ul li:hover{
        color:var(--hoverColor);
        transform: translate(0, -2px);
        transition:var(--smooth);
    }
    header.active .navlinks{
        color:var(--titleColor);
    }
    .navlinks:hover{
        color:var(--mainColor);
    }
    .navlinks.active-link{
        color:var(--mainColor);
    }
}
@media (min-width:992px){
    header{
        padding:20px 10px;
        height: 6rem;
        max-width: 1280px;
    }
    header:after{
        height: 6.1rem;
    }
    .logo{
        margin-top: 0;
        margin-left: 2rem;
    }
    .navbar{
        top:5.4%;
        max-width: 1280px;
        margin-left: 20%;
        /* border: 1px solid white; */
    }
    .navbar ul li{
        margin-left:1.125rem;
    }
}


/* Hero Section ===================  */
section.hero{
    display: grid;
    grid-template-columns: auto;
}
.textBox{
    order: 2;
    padding-top: 50px;
}
.textBox .hello, .myspec{
    color: var(--titleColor);
    font-size: var(--subtitleFontSize);
    margin-bottom: 1rem;
}
.textBox .name{
    color: var(--mainColor);
    font-size:var(--titleFontsize);
    margin-bottom: 1rem;
}
.textBox .typed{
    color: var(--mainColor);
}
.textBox .intro{
    color: var(--textColor);
    font-size: var(--normalText);
    line-height: 1.5;
    margin-bottom: 1rem;
}
.socialBox{
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.socialBox li{
    list-style: none;
}
.socialBox .social-links{
    border: 2px solid var(--mainColor);
    inline-size: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--smooth);
    cursor: pointer;
    font-size:1.3rem;
    padding-top: .265rem;
}
.socialBox .social-links:hover{
    transform: translateY(-4px);
    background-color: var(--mainColor);
    /* animation: iconbounce .2s linear; */
}
.social-links i{
    color: var(--mainColor);
    margin-top: -2.61%;
}
.socialBox .social-links:hover i{
    color: var(--bodyColor);
}
@keyframes iconbounce{
    20%{
        transform: translateY(-8px);
    }
    40%{
        transform: translateY(-6px);
    }
    60%{
        transform: translateY(-4px);
    }
    80%{
        transform: translateY(-2px);
    }
    100%, 0%{
        transform: translateY(-0px);
    }
}
.profileBox{
    margin-bottom: 1rem;
    order: 1;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.profileBlob{
    width: 20rem;   
    fill: var(--mainColor);
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2));
    transition: fill 0 ease;
}
@media (min-width:880px){
    section.hero{
        grid-template-columns:repeat(2, 1fr);
        /* grid-template-areas:". . profile content . ."; */
        justify-items: center;
        min-height: 100vh;
    }
    .textBox{
        order: 1;
        display: grid;
        align-items: center;
        /* grid-area: profile; */
    }
    .textBox, .aboutContent{
        scale: 1.05;
    }
    .hero .profileBox, .profileBox{
        margin-bottom: 0;
        /* grid-area: content; */
    }
    .profileBlob{
        width: 25rem;
        max-width: 30rem;
    }
}
@media (min-width:992px){
    .textBox .intro{
        max-width: 25rem;
    }
    .textBox .ctaBox{
        margin-left:8%;
    }
    .textBox, .aboutContent{
        scale: 1.1;
    }
    .profileBlob{
        width: 50rem;
    }
}



/* ============= About Me ============= */
.aboutMe{
    background-color: var(--bodyColorAlt);
    display: grid;
    align-items: center;
    min-height:100vh;
    padding-top:0;
}
.aboutMe .section__wrapper{
    display: grid;
    grid-template-columns: auto;
}
.aboutMe .profileBox{
    margin-bottom: 2rem;
}
.profileBorder{
    width: 20rem;
}
.profileBorder path{
    stroke: var(--mainColor);
}
.aboutContent{
    order: 2;
    max-height: 12.75rem;
}
@media (min-width:880px){
    .aboutMe{
      padding-top: 3rem;
    }
    .aboutMe .section__wrapper{
        grid-template-areas:"profile content";
        align-items: center;
    }
    .aboutMe .profileBox{
        grid-area: profile;
    }
    .aboutContent{
        grid-area: content;
    }
    .profileBorder{
        width: 25rem;
        max-width: 30rem;
    }
    .aboutContent .btnBox, .my__skills .btnBox{
        margin: 0px 1px;
    }
}
@media (min-width:992px){
    .aboutMe .section__wrapper{
        column-gap: 5rem;
    }
    .profileBorder{
        width: 50rem;
    }
}



/* ================ My Skills =============== */
.my__skills {
    display: grid;
    align-items: center;
}
.my__skills .col__2:nth-child(2){
    display: grid;
}
.my__skills .section__desc{
    margin-bottom: 3rem;
}
.col__1.skills__listBox{
    padding-left: 3rem;
}
.each__skill, .each__skill2{
    color: var(--titleColor);
    margin-bottom: 2rem;
    font-size: var(--normalText-lg);
    position:relative;
}
.each__skill::before, .each__skill2::before{
    border: 3px solid var(--mainColor);
    inline-size: 2rem;
    aspect-ratio: 1;
    border-radius: 50px;
    position: absolute;
    top:50%;
    left: -3rem;
    transform: translateY(-50%);
    color: var(--titleColor);
    display: grid;
    place-items: center;
    font-size: var(--normalText-lg);
}
.each__skill:nth-child(1)::before{
    content: "01";
}
.each__skill:nth-child(2)::before{
    content: "02";
}
.each__skill:nth-child(3)::before{
    content: "03";
}
.each__skill:nth-child(4)::before{
    content: "04";
}
.each__skill2:nth-child(1)::before{
    content: "05";
}
.each__skill2:nth-child(2)::before{
    content: "06";
}
.each__skill2:nth-child(3)::before{
    content: "07";
}
@media (min-width:880px){
    .my__skills .col__2:nth-child(2){
        grid-template-columns: 1fr 1fr;
        padding-top: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width:992px){
    .my__skills{
        grid-template-columns: repeat(2, 1fr);
    }
    .my__skills .col__2:nth-child(2){
        column-gap: 6rem;
    }
}
@media (min-width:1280px){
    .my__skills .col__2:nth-child(2){
        column-gap: 10rem;
    }
}


/* =========== Services ========= */
.services{
    background-color:var(--bodyColorAlt);
}
.services :where(.section__title, .section__subtitle), .projects :where(.section__title, .section__subtitle){
    text-align: center;
}
.cardBox{
    display: grid;
    justify-items: center;
    gap: 1.5rem;
}
.service__card{
    padding: 1.5rem;
    max-width: 20rem;
    border-radius: 20px;
    text-align: center;
    background-color:var(--bodyColor);
    transition: var(--smooth);
    /* grid-column: 2 / span 5; */
}
.service__card:hover{
    outline: 1.5px solid var(--mainColor);
}
.service__title{
    font-size: var(--normalText-lg);
    margin: 1.125rem 0;
}
@media (min-width:880px){
    .cardBox{
        grid-template-columns: repeat(2, 1fr);
        max-width: fit-content;
        padding-top: 3rem;
    }
}
@media (min-width:992px){
    .services{
        display: grid;
        align-items: center;
    }
    .cardBox{
        grid-template-columns: repeat(3, 1fr);
    }
}




/* ================ Projects ================= */
.projects{
    display: grid;
    align-items: center;
}
.project__card{
    width:18rem;
    border-radius: 20px;
    background-color:var(--bodyColorAlt);
    overflow: hidden;
    transition: var(--smooth);
    position: relative;
    cursor: pointer;
}
.project__card img{
    height: 100%;
    width: 100%;
}
.project__card.show .project__content{
    opacity: 1;
    transform: translateY(0);
    height: 100%;
}
.project__content{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: 10;
    background: linear-gradient(to top, var(--cardHover), transparent);
    backdrop-filter: blur(6px);
    --webkit--backdrop--filter:blur(6px);
    display: grid;
    align-content: center;
    justify-items: center;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.project__title{
    margin: 1.5rem 0 1rem;
    font-size:1.375rem;
    color: white;
}
.project__subtitle{
    font-size: var(--normalText-lg);
    color:white;
    font-weight: normal;
}
.project__btn{
    color:white;
    font-size: 1.25rem;
    text-decoration: underline;
}
@media(min-width:880px){
    .project__card:hover .project__content{
        opacity: 1;
        transform: translateY(0);
        height: 100%;
    }
}


/* ============= Contact Us ================== */
.contact{
    background-color: var(--bodyColorAlt);
    text-align: center;
}
.contact :where(.section__title, .section__subtitle){
    text-align: center;
}
.contact .section__subtitle{
    margin-top: 10%;
}
.contact .section__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__form{
    padding: 1rem;
    max-width: 48rem;
    margin: 0 auto;
}
.contact__form :where(.user__data, textarea){
    display:block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--bodyColor);
    border: 1px solid transparent;
    outline: none;
    font-size: var(--normalText-lg);
    color: var(--titleColor);
    border-radius:.5rem;
    padding: 1rem .5rem;
    transition: var(--smooth);
}
.user__data:active, .user__data:focus, textarea:active, textarea:focus{
    border: 1px solid var(--mainColor);
    outline: none;
}
textarea{
    height:10rem;
    resize: none;
}
.submit__btn{
    min-width: 200px;
    outline: 0;
    border: 0;
}
@media (min-width:880px){
    .contact .section__subtitle{
        margin-top: 15%;
    }
    .user__data{
        width: calc(50% - .5rem);
        display: inline-block;
    }
    .user__data:nth-child(1){
        float: left;
    }
    .user__data:nth-child(2){
        float: right;
    }
}
@media (min-width:992px){
    .contact .section__subtitle{
        margin-top: 5%;
    }
}



/* ============== Footer ================== */
footer{
    padding:2rem 2rem 1rem;
    position: relative;
}
.ft__content{
    margin-bottom: 2rem;
}
.ft__text{
    color: var(--textColor);
    font-size: var(--normalText);
}
.ft__links{
    display:block;
    color: var(--textColor);
    font-size: var(--normalText);
    margin-bottom: 1.5rem;
    transition: var(--smooth);
}
.ft__links:hover{
    color: var(--mainColor);
    transform: translateX(5px);
}
footer .socialBox{
    margin-left: 0;
    justify-content: start;
    gap: 1rem;
}
.ft__content small{
    color: var(--faintTextColor);
}



@media (min-width:880px){
    footer div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        max-width: 50rem;
        margin: 0 auto;
        column-gap: 10rem;
    }
    .ft__content:nth-child(1), .ft__content:nth-child(2){
        grid-area: 1/span 2;
    }
    .ft__links{
        margin: 0 1rem;
        padding: 0;
    }
    .ft__links:hover{
        transform: translateY(-.25rem);
    }
    .ft__linkbox{
        display: flex;
        align-items: center;
    }
    footer .socialBox{
        grid-row: 2;
        grid-column: span 4;
        margin: 0 auto;
        justify-content: center;
    }
    .copyright__box{
        width: fit-content;
        margin: 0 auto;
    }
    .ft__content .ft__linkbox{
        text-align: left !important;
    }
}



/* ======== Floating Buttons ========= */
.floating-btns{
    position: fixed;
    right: 1rem;
    bottom:1rem;
    z-index: var(--layer-2);
    display: flex;
    align-items: center;
    gap: .5rem;
}
.scrollup, .controls{
    font-size:1.5rem;
    background-color:var(--mainColor);
    border-radius: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition:var(--smooth);
    border: 1px solid transparent;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}
.controls svg{
    fill: var(--bodyColor);
}
.floating-btns i{
    color: var(--bodyColor);
}
.scrollup:hover, .controls:hover{
    border: 1px solid var(--mainColor);
}
.scrollup{
    transform: translateY(1000%);
}
.show-scrollup{
    transform: translateY(0);
}
.floating-btn.active{
    background-color: var(--bodyColorAlt);
    border: 1px solid var(--mainColor);
}
.floating-btn.active svg, .floating-btn.active i{
    fill: var(--mainColor);
    color: var(--mainColor);
}
.theme__box{
    position:fixed;
    display: inline-block;
    max-width: 200px;
    right: 1rem;
    bottom: 4.5rem;
    z-index: var(--fixed);
    background-color: var(--bodyColorAlt);
    padding: 0.625rem 1.25rem;
    border-radius: 1rem;
    border: 1px solid var(--mainColor);
    transform: translateX(0);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}
.theme__box.hide{
    transform: translateX(150%);
}
.theme, .theme__color{
    position: relative;
}
.theme div{
    width: 50px;
    height: 50px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin: auto;
}
.theme::after, .theme::before, .theme__color:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height:.75px;
    background-color:var(--faintTextColor);
}
.theme::before{
    top: 24px;
}
.theme::after{
    top: 65px;
}
.theme__color:after{
    top: 45px;/*45px for large screens*/
}
.theme a{
    position: absolute;
    display: inline-block;
    padding:.5rem;
    margin:.5rem .25rem;
}
.theme a svg{
    font-size:2rem;
    fill:var(--mainColor);
}
.theme__box p{
    color: var(--titleColor);
    font-size: var(--normalText);
}
.theme__color p{
    margin-bottom: 1rem;
}
.toggleIn{
    transform: translateY(100%);
    opacity: 0;
    animation: toggleIn .2s linear;
}
@keyframes toggleIn {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.toggleOut{
    transform: translateY(0);
    opacity: 1;
    animation: toggleOut .2s linear;
}
@keyframes toggleOut {
    to{
        transform: translateY(-100%);
        opacity: 0;
    }
}
.theme__color div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top:.5rem;
}
.theme__color .colors{
    border-radius: 50%;
    aspect-ratio:1;
    inline-size: 2rem;
    margin:.375rem .5rem;
    display: inline-block;
}
.theme__color .colors.active{
    outline: 2px solid var(--mainColor);
    outline-offset: 5px;
}
.color1{background-color:#fd9b08;}
.color2{background-color:#ffd700;}
.color3{background-color:#deb887;}
.color4{background-color:#df0257;}
.color5{background-color:#39f;}
.color6{background-color:#6e57e0;}
.color7{background-color:#00cc8f;}
.color8{background-color:#0ef;}
@media(min-width:880px){
  .scrollup, .controls{
    font-size: 1.875rem;
    width: 2.75rem;
    height: 2.75rem;
  }
}